<?xml version="1.0"?>
<launch>
    <arg name="model"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find final_odev)/urdf/robot_xacro.xml"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find final_odev)/rviz/robot.rviz" required="true"/> 
 </launch>